.chart-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  
  .canvasjs-chart-container {
    width: 80%; /* Adjust the width as needed */
    max-width: 600px; /* Maximum width of the chart container */
  }
  